@model DemoPagina1.Models.lineasubcategoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>lineasubcategoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombrelineasubcategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrelineasubcategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subcategoria.nombresubcategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subcategoria.nombresubcategoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codigolineasubcategoria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
